services:
  sql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "MyPass@word123"
      MSSQL_PID: "Express"
    volumes:
      - sqlserverdata:/var/opt/mssql

volumes:
  sqlserverdata: